{% load static %}
{% load i18n %}
<IDOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <nav class="navbar sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/tasks-list/">
                        <img src="{% static 'img/TaskMaster_logo.png' %}" alt="TaskMaster" width="120" height="30" title="TaskMaster">
                    </a>
                    <div class="nav ml-auto">
                        <form action="{% url 'set_language' %}" method="post" id="TranslateForm">
                            {% csrf_token %}
                            <select name="language" id="LanguageSelect">
                                <option value="en" {% if request.LANGUAGE_CODE == 'en' %} selected {% endif %}>English</option>
                                <option value="uk" {% if request.LANGUAGE_CODE == 'uk' %} selected {% endif %}>Ukrainian</option>
                            </select>
                        </form>
                        <a class="navbar-brand mx-2" href="/profile/">
                            {% if user.userprofile.media %}
                                <img src="{{ user.userprofile.media.url }}" alt="Avatar" style="max-width: 40px;" class="rounded-avatar" title="Profile">
                            {% else %}
                                <img src="{% static 'img/default_avatar.jpg' %}" alt="Avatar" style="max-width: 40px;" class="rounded-avatar" title="Profile">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </nav>
            <script>
                document.getElementById("LanguageSelect").addEventListener("change", function() {
                    document.getElementById("TranslateForm").submit();
                });
            </script>

            <form action="{% url 'tasks:logout'%}" method='post'>
            {% csrf_token %}
            <button type="submit">{% trans "Log out" %}</button>
            </form>
            <a href="{% url 'tasks:register'%}">{% trans "Sign up" %}</a>
            <a href="{% url 'tasks:login'%}">{% trans "Login" %}</a>
        </header>

        <main>
        {% block content %}
        {% endblock content %}
        </main>

        <footer class="py-3 my-4 border-top">
            <p class = "text-center">{% trans "@2024 All rights reserved TaskMaster" %}</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
