{% extends "base.html" %}
{% block content %}
{% load custom_tags %}
{% load i18n %}
    <h2>{{ user }}</h2>
    <p> {{ customuser.name }}</p>
    <p> {{ customuser.surname }}</p>
    <p> {{ customuser.description }}</p>
    <p> {{ customuser.birthday_date }}</p>
    <p> {{ customuser.created_at }}</p>
    <p> {{ customuser.media }}</p>

    <h2>{% trans "Your tasks" %}:</h2>
    <ul>
        {% for task in user_tasks %}
            <li>{{ task.title }}</li>
            <li>{{ task.status }}</li>
            <li>{{ task.priority }}</li>
            <br>
        {% endfor %}
    </ul>
    <form action="{% url 'tasks:logout'%}" method='post'>
        {% csrf_token %}
        <button type="submit">{% trans "Log out" %}</button>
    </form>
    <a href="{% url 'tasks:profile-update' %}">{% trans "Update" %}</a>
{% endblock %}
