{% extends "base.html" %}
{% block content %}
{% load i18n %}
    <a class="btn btn-primary float-end" href="{% url 'tasks:task-create' %}">{% trans "Create task" %}</a>
    <form method="get" id="SortForm">
        {% csrf_token %}
        <label class="form-label" for="status">{% trans "Status" %}:</label>
        <select name="status" id="StatusSelect">
            <option value="" {% if form.status.value == '' %} selected {% endif %}>{% trans "All" %}</option>
            <option value="todo" {% if form.status.value == 'todo' %} selected {% endif %}>{% trans "To do" %}</option>
            <option value="in_progress" {% if form.status.value == 'in_progress' %} selected {% endif %}>{% trans "In progress" %}</option>
            <option value="done" {% if form.status.value == 'done' %} selected {% endif %}>{% trans "Done" %}</option>
        </select>

        <label class="form-label" for="priority">{% trans "Priority" %}:</label>
        <select name="priority" id="PrioritySelect">
            <option value="" {% if form.priority.value == '' %} selected {% endif %}>{% trans "All" %}</option>
            <option value="low" {% if form.priority.value == 'low' %} selected {% endif %}>{% trans "Low" %}</option>
            <option value="medium" {% if form.priority.value == 'medium' %} selected {% endif %}>{% trans "Medium" %}</option>
            <option value="high" {% if form.priority.value == 'high' %} selected {% endif %}>{% trans "High" %}</option>
        </select>
    </form>
    <script>
        document.getElementById("StatusSelect").addEventListener("change", function() {
            document.getElementById("SortForm").submit();
        });
        document.getElementById("PrioritySelect").addEventListener("change", function() {
            document.getElementById("SortForm").submit();
        });
    </script>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Complete</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
            <th><a href="{% url 'tasks:task-detail' task.id %}">{{ task.title }}</a></th>
            <td>{{ task.status }}</td>
            <td>{{ task.priority }}</td>
            <td>{% if task.status != "done" %}
                <form action="{% url 'tasks:task-complete' task.pk %}" method="post">
                {% csrf_token %}
                <button button type='submit' class="btn btn-success">{% trans "Complete" %}</button>
                </form>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
